img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: all 0.6s ease;
  transform: scale(0.6);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
  //   max-width: calc(100vw - 200px);
  //   margin: auto;
}
.container .action-btn {
  height: 40px;
  width: 40px;
  font-size: 1.25rem;
  border-radius: 50%;
  border: none;
  font-weight: 900;
  background: white;
  color: black;
  cursor: pointer;
  z-index: 1;
}

.image-container {
  display: flex;
  align-items: center;
  width: 400px;
  height: 400px;
}

.image-item {
  min-width: 400px;
  height: 400px;
  border-radius: 20px;
  transition: all 0.6s ease;
  opacity: 0.4;
  transform: translateX(calc(var(--index) * -100%));
}

.image-item.active {
    opacity: 1;
}
.image-item.active img {
    transform: scale(1);
}

.bottom-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    position: absolute;
    bottom: 5px;
}
.bottom-item {
    background-color: aliceblue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.6 ease;
}

.bottom-item.active {
    // width: 25px;
    transform: scale(1.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-item.active::after {
  content: '';
  width: 7px;
  height: 7px;
  background-color: black;
  border-radius: 50%;
}